<h1>Editing Sobreaviso De Entrega</h1>

<%= render 'form', sobreaviso_de_entrega: @sobreaviso_de_entrega %>

<%= link_to 'Show', @sobreaviso_de_entrega %> |
<%= link_to 'Back', sobreaviso_de_entregas_path %>
