h3 {
  font-size: 30px;
}

a:link {
  font-size: 20px;
  color:#000000 !important;
  text-decoration:none;
}
a:link:hover {
  border-radius: 20px;
  color: white;
  padding: 5px;
  margin: -5px;
}

select,
input {
  font-size: 20px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  padding: 5px;
  line-height: 28px;
}

option {
  color: black;
}

label {
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 20px;
}

p {
  margin-top: 10px;
  margin-bottom: 3px;
  font-size: 20px;
}

.show,
form {
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: white;
  background-color: #168758;
  padding: 15px;
  border-radius: 20px;
  margin: 20px;
}

ul {
  color: black;
}

#error_explanation {
  border-radius: 20px;
}

#error_explanation > h2 {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
}